



<% if user_signed_in? %>

<div class="jumbotron">
  <div class="card-body">
        <ul class= 'list-group'>
          <%  @todo_lists.each do |todo_list| %>
             
              <%= link_to todo_list, class: 'text-decoration-none'  do %>
                  <li class="list-group-item d-flex justify-content-between">
                    <div>
                      <h6 class='m-0 text-dark'>
                        <b><%= todo_list.title  %></b>
                        <span class="badge badge-<%= todo_list.badge_color %>"><%= todo_list.status %></span>
                      </h6>

                      <p class='text-secondary m-0 text-dark'><small> <%= todo_list.percent_complete %> % Complete (<%=
                        todo_list.completed_items %> / <%= todo_list.total_items %> Todo Items) </small></p>
                    </div>

                  </li>
              <% end %>
              
          <% end %>
        </ul>
   </div>

</div>

<% end %>
