 

<div class="card-header ">
  <div class="row">
    <div class="col-1">
      <%= link_to todo_lists_path, class: 'btn btn-dark' do %>
        <i class='fa fa-angle-left'></i>
      <% end %>
    </div>
    <div class="col-11 ">
      <div class="d-flex justify-content-between">
        <div>
          <h5 class='m-0'>
            <b><%= @todo_list.title %></b>
            <span class="badge badge-<%= @todo_list.badge_color %>"><%= @todo_list.status %> </span>
          </h5>
          <p class='text-secondary m-0'> <small> <%= @todo_list.percent_complete %> % Complete (<%= @todo_list.completed_items %>/<%= @todo_list.total_items %> Todo Items) </small></p>
        </div>
        <div>
          <%= link_to 'Edit', edit_todo_list_path(@todo_list), class: 'btn btn-secondary'%>
        </div>
      </div>
    </div>
  </div>


</div>
<div class="card-body">
  <div class="progress mb-4">
    <div class="progress-bar bg-info" role="progressbar" style="width:<%= @todo_list.percent_complete %>%" aria-valuenow="<%= @todo_list.percent_complete %>" aria-valuemin="0" aria-valuemax="100">
    </div>
  </div>
  <%= form_for([@todo_list, @todo_item]) do |f| %>
    <div class="input-group mb-4">
          <%= f.text_field :description, class: 'form-control', placeholder: 'Add a todo item' %>
          <div class="input-group-append">
          <%= f.submit "Add", class: "btn btn-primary input-group-btn" %>
      </div>
    </div>
  <% end %>


  <ul class= 'list-group'>
     <% @todo_list.todo_items.each do |todo_item| %>
        <% if todo_item.completed? %>
           <li class='list-group-item bg-dark'>
            <div class="d-flex justify-content-between">
              <%= link_to '#', class: 'btn btn-dark', data: { reflex: 'click->TodoItem#mark_incomplete', id: todo_item.id}  do %>
              <i class='fa fa-check'></i>
              <span>
              <% end %>
                <em><%= todo_item.description %></em>
              </span>
              <div class="">
              <%= link_to '', [todo_item.todo_list, todo_item], class: 'fa fa-edit' %>
              <%= link_to '', edit_todo_list_todo_item_path(todo_item.todo_list, todo_item), class: 'fa fa-eye'  %>
              <%= link_to '', [todo_item.todo_list, todo_item], method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-eraser' %>



              </div>
            </div>
          </li>
        <% else%>
          <li class='list-group-item '>
           <div class="d-flex justify-content-between">
             <%= link_to '#', class: 'btn btn-darklight', data: { reflex: 'click->TodoItem#mark_complete', id: todo_item.id}  do %>
               <i class='fa fa-undo'></i>
             <% end %>
             <span>
               <em><%= todo_item.description %></em>
             </span>
              <div class="">
                <%= link_to '', [todo_item.todo_list, todo_item], class: 'fa fa-edit' %>
                <%= link_to '', edit_todo_list_todo_item_path(todo_item.todo_list, todo_item), class: 'fa fa-eye'  %>
                <%= link_to '', [todo_item.todo_list, todo_item], method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-eraser' %>


              </div>


           </div>
         </li>
        <% end %>
     <% end %>
  </ul>
</div>
